{%- assign same_cat = "" | split: "" -%}
{%- assign social = "" | split: "" -%}
{%- assign related = "" | split: "" -%}

{%- assign main_cat = page.categories | first -%}

{% for post in site.posts %}
  {% if post.id == page.id %}{% continue %}{% endif %}

  {% if post.categories contains main_cat %}
    {% assign same_cat = same_cat | push: post %}
  {% endif %}

  {% if post.categories contains "社会杂论" %}
    {% assign social = social | push: post %}
  {% endif %}
{% endfor %}

{%- comment -%} 
  模拟随机：取不同位置的文章 
{%- endcomment -%}

{% if same_cat.size > 0 %}
  {% assign related = related | push: same_cat[0] %}
{% endif %}

{% if same_cat.size > 2 %}
  {% assign related = related | push: same_cat[2] %}
{% elsif same_cat.size > 1 %}
  {% assign related = related | push: same_cat[1] %}
{% endif %}

{% if social.size > 0 %}
  {% assign related = related | push: social[1] | default: social[0] %}
{% endif %}

<div class="page__related">
  <h2 class="page__related-title">
    {{ site.data.ui-text[site.locale].related_label }}
  </h2>

  <div class="grid__wrapper">
    {% for post in related %}
      {% include archive-single.html type="grid" %}
    {% endfor %}
  </div>
</div>
