{% assign related_posts = "" | split: "" %}

{% for post in site.posts %}
  {% if post.id == page.id %}
    {% continue %}
  {% endif %}

  {% assign common_tags = post.tags | intersection: page.tags %}
  {% if common_tags.size > 0 %}
    {% assign related_posts = related_posts | push: post %}
  {% endif %}
{% endfor %}

{% if related_posts.size == 0 %}
  {% assign related_posts = site.posts %}
{% endif %}

<div class="page__related">
  <h2 class="page__related-title">相关推荐</h2>
  <div class="grid__wrapper">
    {% for post in related_posts limit:4 %}
      {% include archive-single.html type="grid" %}
    {% endfor %}
  </div>
</div>
