---
layout: default
---
{%- assign locale = page.locale | default: layout.locale | default: locale %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html locale=locale %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html locale=locale %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html locale=locale %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      {% assign page_title_zh = page.title_i18n.zh | default: page.title %}
      {% assign page_title_en = page.title_i18n.en | default: page.title %}
      <h1
        id="page-title"
        class="page__title"
        {% if page.title_i18n %}
          data-fr-i18n-zh="{{ page_title_zh | markdownify | strip_html | strip_newlines | escape_once }}"
          data-fr-i18n-en="{{ page_title_en | markdownify | strip_html | strip_newlines | escape_once }}"
        {% endif %}
      >{{ page.title }}</h1>
    {% endunless %}

    {{ content }}

    {%- assign search_provider = site.search_provider | default: "lunr" -%}
    {%- case search_provider -%}
      {%- when "lunr" -%}
        <input type="text" id="search" class="search-input" placeholder="{{ site.data.ui-text[locale].search_placeholder_text | default: 'Enter your search term...' }}" data-fr-i18n-placeholder-key="search_placeholder_text" />
        <div id="results" class="results"></div>
      {%- when "google" -%}
        <form onsubmit="return googleCustomSearchExecute();" id="cse-search-box-form-id">
        <input type="text" id="cse-search-input-box-id" class="search-input" placeholder="{{ site.data.ui-text[locale].search_placeholder_text | default: 'Enter your search term...' }}" data-fr-i18n-placeholder-key="search_placeholder_text" />
        </form>
        <div id="results" class="results">
          <gcse:searchresults-only></gcse:searchresults-only>
        </div>
      {%- when "algolia" -%}
        <div class="algolia-page">
          <div class="algolia-searchbox"></div>
          <div class="algolia-stats"></div>
          <div class="algolia-hits"></div>
          <div class="algolia-pagination"></div>
        </div>
    {%- endcase -%}
  </div>
</div>
